body{
    background:url(../img/fondo.jpg);
	border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#3a3a3a;
	line-height:20px;
	min-width:980px;
	padding:10px 0
}
.content{
    margin:0 auto;
	width:960px;
	padding:10px;
	background:#fff;
	box-shadow:0 0 7px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 0 7px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 0 7px rgba(0, 0, 0, .2);
	position:relative
}
.center{
	display:flex;
	text-align: center;
	
}
header{
    height:180px;
	width:100%;
	overflow:hidden;
	background-color: #041a61;
}
.menu{
    width:100%;
	overflow:hidden
}
#imagen{
    padding:27px 0 0 41px;
	float:left
}
#slogan{
    font-size:20px;
	line-height:1.2em;
	color:#fff;
	float:left;
	padding:95px 0 0 18px;
	letter-spacing:-1px
}
#top_nav {
	float:right;
	padding:88px 56px 0 0;
    letter-spacing:1px;   
}
.nav-link{
    color: #fff;
    font:18px Arial, Helvetica, sans-serif;
}
section{
    width:100%;
	overflow:hidden;
	padding-bottom:14px;
    background-color: rgba(187, 228, 208, 0.2);
}
section select{
    width: 400px;
    height: 30px;
    
}

p{
	text-align: justify;
}

.fecha{
	width: 400px;
	height: 30px;
}

/*-----------For datos-------------*/
.esquinas{
	border:1px solid black;
	border-radius: 20px;
}

.header{
	display: flex;
	align-items: center;
	text-align: center;
}

.registro{
	margin: 0 auto;
	background-color: rgb(44, 39, 39);
	max-width: 960px;
}

.PO{
	flex-direction: column;
	display: flex;
	align-items: center;
	font-size: 1rem;
}
/*---------For imagenes-------*/
.imagenes{
	display: flex;
	align-items: center;
	max-width: 200px;
	max-height: 200px;
}
img{
	margin: 1px 5px 0px 0px;
	max-width: 310px;
	max-height: 310px;
}